<section>
  <h3>Cart</h3>

  <p>
    <a routerLink="/shipping">check out shipping price</a>
  </p>
  <div *ngIf="productsOnCart.length == 0">
    <h1>Nothing to look at :(</h1>
    <button routerLink="/">go back to products section</button>
  </div>

  <ul class="cart-item">
    <p>
      <li *ngFor="let product of productsOnCart; let i = index">
        {{i}} {{product.name}}
        <button (click)="removeProduct(product)">remove from cart</button>
      </li>
    </p>
    <button *ngIf="productsOnCart.length != 0" (click)="clearCart()">clear all products on cart</button>
  </ul>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <p>
      <label for="checkoutUserName">name</label>
      <input type="text" id="checkoutUserName" formControlName="name" />
    </p>
    <p>
      <label for="checkoutAddress">Address</label>
      <input type="text" id="checkoutAddress" formControlName="address" />
    </p>
    <button 
      class="button" 
      type="submit" 
      [disabled]="productsOnCart.length === 0"
      title="checkout is only available after your cart has at least an item."
      >
      checkout
    </button>
  </form>
</section>
