<section>
  <h2>Products</h2>
  <p>check <em>all the best prices</em> out!</p>

  <ul>
    <li *ngFor="let product of products">
      <h3>
        <a [title]="'it costs $' + product.price" href="'/' + product.name">{{
          product.name
        }}</a>
      </h3>

      <p>
        {{ product.description || "no description available" }}
      </p>

      <button (click)="share(product.id)">share</button>
      <app-product-alerts [product]="product" (notify)="onNotify()" />
    </li>
  </ul>
  <button
    (click)="addProduct({ id: 5, name: 'sample ' + products.length, description: '', price: 999 })"
  >
    add new product :)
  </button>

  <!-- 
</section>
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
--></section>
