<h2>Products</h2>

<ul *ngFor="let product of products">
    <li>
        <h3 [title]="'it costs $' + product.price">
            <a href="">{{product.name}}</a>
        </h3>
        
        <p *ngIf="product.description">{{product.description}}</p>
        <small *ngIf="!product.description">no description available</small>

        <button (click)="share(product.id)">share</button>
        <app-product-alerts [product]="product"/>
    </li>
</ul>

<button (click)="addProduct({id: 5, name: 'sample', description: '', price: 999})"> add new product :)</button>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->