<h2>Products</h2>

<ul *ngFor="let product of products">
    <li>
        <h3>{{product.name}}</h3>
        
        <p>{{product.description}}</p>
        <small *ngIf="product.name === 'sample'">hello world kkkkk</small>
    </li>
</ul>

<button (click)="addProduct({id: 5, name: 'sample', description: 'kkkk'})"> add new product :)</button>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->